<form role='form' ng-submit='usersCtrl.login()'>
	<md-card  layout-padding  layout="column">
		<h5 class="md-warn">Login</h5>
    <md-divider></md-divider>
    <md-input-container>
      <label>Email</label>
      <input ng-model="usersCtrl.loginFormData.email" type="email">
    </md-input-container>
    <md-input-container>
      <label>Password</label>
      <input ng-model="usersCtrl.loginFormData.password" type="password">
    </md-input-container>
    <div layout='row'>
      <p></p>
      <span flex></span>
      <md-button class='md-warn md-raised md-actions'>login</md-button>
    </div>
  </md-card>
</form>