@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:400,700,700italic,400italic);

*{
  word-wrap: break-word;
}
html {
  font-family: 'Roboto Slab', serif;
}
body{
  background: #f1f1f5;
  padding: 0;
  margin: 0;
  color: white;
}

[layout=row] {
  flex-direction: row;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}

md-toolbar{
  color: #ff6f00;
  background: #fff
}

section.jumbotron {
  margin-bottom: 30px;
  padding: 1px 30px;
  background-color: #5aadbb;
  text-align: center;

  color: white;

  h1 {
    font-size: 3em;
  }
}

.techs {
  display: flex;
  flex-flow: row wrap;

  md-card {
    width: 30%;

    img.pull-right {
      float: right;
      width: 50px;
    }
  }
}

md-toolbar md-menu > .md-button.md-icon-button {
  margin-right: -8px;
  margin-left: -8px;
}
md-sidenav {
  background-color: inherit !important;
}
.content-container{
  min-height: 100%
}
.content-wrapper{
  min-height: 100%;
  
}
.content-wrapper, md-content, md-card{
  color: #666;
}
.avatar{
  width: 40px;
  height: 40px;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-right: 16px;
  border-radius: 50%;
  box-sizing: content-box;
};
.avatar-2x{
  width: 80px;
  height: 80px;
}
.avatar-3x{
  width: 120px;
  height: 120px;
}

/* Do not remove this comments bellow. It's the markers used by gulp-inject to inject
   all your sass files automatically */
// injector
// endinjector
